{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h3 class="text-center">Ajouter categorie</h3>

    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('categorie_index') }}">Liste categorie</a>
{% endblock %}
